{
    "rabbitmq": {
        "addresses": "rabbitmq.apps.svc.cluster.local",
        "password": "",
        "username": ""
    },
    "database": {
        "host": "mongo-mongodb.apps.svc.cluster.local",
        "dbname": "",
        "username": "",
        "password": ""
    },
    "inputsource": "https://rpa-speak.local",
    "forward": "https://rpa-listen.local",
    "brain": {
        "url": "https://rpa-brain.local"
    }
}